{% extends 'librarious/base.html' %}

{% block content %}
<div id="author-form">
    <h1>{% if view.kwargs.pk %}Edit{% else %}Add New{% endif %} Author</h1>

    <form name="authorForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.code.auto_id }}">Code (Leave blank for automatic code)</label>
            <input type="text" id="{{ form.code.auto_id }}" class="form-control{% if form.code.errors %} is-invalid{% endif %}" name="{{ form.code.html_name }}" value="{{ form.code.value|default:'' }}">
            {% if form.code.errors %}
                {% for error in form.code.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.first_name.auto_id }}">First Name</label>
            <input type="text" id="{{ form.first_name.auto_id }}" class="form-control{% if form.first_name.errors %} is-invalid{% endif %}" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value|default:'' }}">
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.auto_id }}">Last Name</label>
            <input type="text" id="{{ form.last_name.auto_id }}" class="form-control{% if form.last_name.errors %} is-invalid{% endif %}" name="{{ form.last_name.html_name }}" value="{{ form.last_name.value|default:'' }}">
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}
