{% extends 'librarious/base.html' %}

{% block content %}
<div id="member-form">
    <h1>{% if view.kwargs.pk %}Edit{% else %}Add New{% endif %} Member</h1>

    <form name="memberForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.code.auto_id }}">Code (Leave blank for automatic code)</label>
            <input type="text" id="{{ form.code.auto_id }}" class="form-control{% if form.code.errors %} is-invalid{% endif %}" name="{{ form.code.html_name }}" value="{{ form.code.value|default:'' }}">
            {% if form.code.errors %}
                {% for error in form.code.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.name.auto_id }}">Name</label>
            <input type="text" id="{{ form.name.auto_id }}" class="form-control{% if form.name.errors %} is-invalid{% endif %}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:'' }}">
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.address.auto_id }}">Address</label>
            <input type="text" id="{{ form.address.auto_id }}" class="form-control{% if form.name.errors %} is-invalid{% endif %}" name="{{ form.address.html_name }}" value="{{ form.address.value|default:'' }}">
            {% if form.address.errors %}
                {% for error in form.address.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.username.auto_id }}">Username</label>
            <input type="text" id="{{ form.username.auto_id }}" class="form-control{% if form.username.errors %} is-invalid{% endif %}" name="{{ form.username.html_name }}" value="{{ form.instance.user.username|default:'' }}">
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password.auto_id }}">Password</label>
            <input type="password" id="{{ form.password.auto_id }}" class="form-control{% if form.password.errors %} is-invalid{% endif %}" name="{{ form.password.html_name }}">
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}
