{% extends 'librarious/base.html' %}

{% block content %}
<div id="publisher-confirm-delete">
    <h1>Are you sure want to delete this publisher?</h1>

    <div>Code: {{ object.code }}</div>
    <div>Name: {{ object.name }}</div>
    <div>Address: {{ object.address }}</div>

    <form name="publisherFormDelete" method="post">
        {% csrf_token %}
        <a href="{% url 'publisher_list' %}" class="btn btn-primary">No</a>
        <button type="submit" class="btn btn-danger">Yes</button>
    </form>
</div>
{% endblock %}
